<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./js/stats.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <title>Amazing Events | Stats</title>
</head>
<body>
    <div id="app" class="d-flex flex-column justify-content-between">

      {{loadStats}}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html">
            <img src="./assets/images/logo.png" class="link-logo" alt="logo">
          </a>
          <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex gap-2 d-flex  align-items-center justify-content-end w-100">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./upcomingEvents.html">Upcoming Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./pastEvents.html">Past Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link underline" href="#">Stats</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header class="d-flex justify-content-center align-items-center">
        <h1>Stats</h1>
      </header>

     
      <main class="d-flex flex-column align-items-center justify-content-center">
        <div>
          <div v-if="!data && !error" class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <template v-if="error">
          <p class="text-center fs-3 text-light mt-4">
            Oops, something went wrong.
          </p>
        </template>
        <template v-if="data">
          <div class="d-flex gap-3 flex-column align-items-center justify-content-center p-4 container">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="3">Events statics</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Event with the highest % of attendance</td>
                  <td>Event with the lowest % of attendance</td>
                  <td>Event with larger capacity</td>
                </tr>
                <tr>
                  <td v-if="data" v-for="element of firsTable">
                    {{element.name}} {{element.value}}</td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="3">Upcoming events statics by category</th>
                </tr>
              </thead>
              <tbody id="upcomingCategoriesContainer">
                <tr>
                  <td>Categories</td>
                  <td>Revenues</td>
                  <td>Porcentage of attendance</td>
                </tr>
                <tr v-if="data" v-for="category of secondTable">
                  <td>{{category.name}}</td>
                  <td>${{category.revenues}}</td>
                  <td>{{category.assistance}}%</td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="3">Past Events statics by category</th>
                </tr>
              </thead>
              <tbody id="pastCategoriesContainer">
                <tr>
                  <td>Categories</td>
                  <td>Revenues</td>
                  <td>Porcentage of attendance</td>
                </tr>
                <tr v-if="data" v-for="category of thirdTable">
                  <td>{{category.name}}</td>
                  <td>${{category.revenues}}</td>
                  <td>{{category.assistance}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
      </main>

    <footer class="d-flex justify-content-between align-items-center px-4 px-lg-5 ">
      <div class="d-flex gap-3">
          <div class="rounded-circle container-icon">
              <a href="">
                  <img src="./assets/images/instagram.svg" alt="iconInstagram">
              </a>
          </div>
          <div class="rounded-circle container-icon">
              <a href="">
                  <img src="./assets/images/facebook.svg" alt="iconFacebook">
              </a>
          </div>
          <div class="rounded-circle container-icon">
              <a href="">
                  <img src="./assets/images/whatsapp.svg" alt="iconWhatsapp">
              </a>
          </div>
      </div>
      <h6>Cohorte 41</h6>
    </footer>
  </div>
</body>
</html>