*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#app{

    min-height: 100vh;

}

:root{

    --primary: #d90368;
    --secondary: #f53e94;
    --third: #82023e;
    --fourth: #ffb7d9;

}

body{   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #815c6d;

}

.link-logo{


    height: 40px;
}

nav{
    min-height: 70px;
}

nav ul {

    display: flex;
    align-items: center;

}

.underline::before{
    content: "";
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: var(--primary);
    width: 90%;
    height: 1px;

}

@media (max-width: 990px){

    .underline::before{
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background-color: var(--primary);
        width: 100px;
        height: 1px;
    
    }
    
    nav{
        max-height: none;
        text-align: center;
    }

    nav li {

        width: 100%;

    }
    nav > div {

        gap: 20px   ;

    }

}

nav li > a:hover {

   background-color: var(--primary);
   transition: .1s;
   color: white !important;

}

nav a {

    color : var(--primary) !important;
    font-size: .8rem !important;
    border-radius: 10px;
    position: relative;

}

@media (max-width: 990px){


    nav a {

        font-size: 1rem;

    }

}


/*-------------------------HEADER--------------------*/
header{

    min-height: 100px;
    background-color: var(--third);
    color: white;

}

header h1 {

    font-size: 2rem;

}

/*--------------------------MAIN----------------------*/

main{

    min-height: 60vh;

}

section{

    max-width: 100vw;

}

#mainDetails {

   min-height: auto;

}

.accent-color{
    accent-color: var(--secondary);
    background-color: #cab2bd;
    
}

.labelCheck label{

    color: #f0d0d0;

}

article{
    max-width: 85vw;
    min-height: 346px;
    background-color: var(--fourth)!important;

}

.grid-cards{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1200px;

}

.grid-cards > article{

    justify-self: center;

}

.grid-cards > article > img{

    height: 150px;

}

.btn-viewMore{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    text-decoration: none;
    color: inherit;
    background: var(--primary);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgb(0,0,0,0.5);
}

.btn-viewMore:hover{

    background: var(--secondary);

}

.btn-viewMore:active{

    transform: scale(0.97);

}

.search-container{

    height: 30px;

}

.search-container img{

    width: 20px;

}

.search-container > input {

    max-width: 600px;
}

@media (max-width: 560px){

    .search-container > input {

        max-width: 80vw;


    }

}

form{
    font-weight: 500;
    color: black;
    background-color: #c28aa5;
    box-shadow: 1px 1px 1px rgb(0,0,0,0.5);
}


form input[type="submit"]{

    width: 100px;

}

input::selection {
    color: white;
    background: var(--secondary);
  }

.form-control:focus{
    border-color: var(--secondary) !important;
    box-shadow: 0 0 0 0.1rem var(--primary) !important;
  }



  .custom-toggler .navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(217, 3, 104, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  

textarea{

    height: 200px;
    resize: none;
}   

tr > th{

    background-color: #7e003b!important;
    color: white;
    font-size: 1.5rem;


}

tr, th, td {

    border: 1px solid rgb(0,0,0,0.5) !important;

}

td{

    background-color: #fa8bbf!important;
    color: black;
    font-weight: 450;
    height: 35px;


}

.detailCard{
    max-width: 90vw;
    width: 800px;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
    display: flex;
    align-items: center;
    background-color: #793957!important;

}

.detailCard > img {

    height: 300px;
    width: 400px;
    max-width: 80vw;
    object-position: center;
    object-fit: contain;
}

.detailCard > div {

    border: solid 1px black;
    background-color: var(--fourth);
    padding: 1rem;
    box-shadow: inset 0 0 5px #000000;


}

@media (max-width: 700px) {
    
    .detailCard{

        flex-direction: column;


    }

    .detailCard > img {

        width: 100%;
        height: auto;

    }

}

.detailCard span {

    font-weight: bold;

}

.detailCard ul {

    list-style: none;
    list-style-position: inside;
    padding: 0;

}

/*-------------------------FOOTER---------------------*/

footer{

    height: 70px;
    background-color: var(--third);
    color: white;

}


footer img {

    width: 40px;

}

footer h6 {

    margin: 0;

}

.container-icon{
    width: fit-content;
    height: fit-content;
    background-color: rgb(206, 206, 206);

}



/*loading*/

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fcf;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }